.avatar {
  width: 200px;
  height: 200px;
}
.article-title {
  font-size: 1rem; }
.author-card .card-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.84); }
